# Git
.git
.gitignore
.github

# Python artifacts
__pycache__
*.pyc
*.pyo
.pytest_cache
.coverage
htmlcov

# Environment files
.env
.env.*

# Documentation
*.md
LICENSE

# Docker files
docker-compose.yml

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db
